# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\RustProjects\fastrust\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
